<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Soil analysis</title>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

</head>

<body>
    <nav>
        <div class="nav-wrapper teal">
            <a href="#" class="brand-logo" style="margin-left:20px">Crop Predict</a>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col s12">
                <div class="card" style="margin:50px">
                    <div class="card-content">
                        <span class="card-title">Enter data to predict crops</span>
                        <br>
                        <br>
                        <form action="{% url 'index' %}" method="post">
                            <div class="row">
                                <div class="col s6">
                                    Enter rainfall data
                                    <input placeholder="Rainfall" name="rainfall" type="number" class="validate">
                                </div>
                                <div class="col s6">
                                    Enter the temperature measured
                                    <input placeholder="Temperature" name="temperature" type="number" class="validate">
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col s6">
                                    Select vegetation
                                    <input placeholder="Rainfall" name="vegetation" type="number" class="validate">
                                </div>
                                <div class="col s6">
                                    Enter potential evapotranspiration
                                    <input placeholder="evapotranspiration" name="eva" type="number" class="validate">
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col s6">
                                    Enter observer growth period
                                    <input placeholder="Growth period" name="growth_period" type="number" class="validate">
                                </div>
                                <div class="col s6">
                                    Enter measured soil storage
                                    <input placeholder="Soul storage" name="soil_storage" type="number" class="validate">
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col s6">
                                    Enter measued soil scape
                                    <input placeholder="Soil scape" name="g_scape" type="number" class="validate">
                                </div>
                                <div class="col s6">
                                    Select observer soil type
                                    <!-- <input placeholder="Soul type" name="soil_storage" type="number" class="validate"> -->
                                    <select class="browser-default" name="soil_type">
                                        <option value="-1" disabled selected>Soil type</option>
                                        <option value="-0.5">Clay</option>
                                        <option value="0">Silt</option>
                                        <option value="0.5">Peat</option>
                                        <option value="1">Sand</option>
                                    </select>
                                </div>
                            </div>
                            <br>
                            <input class="btn" type="submit">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>